<a href="https://colab.research.google.com/github/WandersonGustavo/Imersao_Alura/blob/main/dataScience.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#criando var
y = "hello world"
print(y)

hello world

In [ ]:
y=20
x=2
z=(y*x)
print(z)
xx="ola mundo"
#yy=2023
zz="vai ser iradoooo"
print(xx+zz)

40
ola mundovai ser iradoooo

In [ ]:
print("digite")
i=input()
print(i)
var=input("digite valor")
print(var)
var1=float(var)
print(var1)

digite
oi
oi
digite valor255
255
255.0

In [ ]:
#DECISÃO
nota=input()
if nota>=7.0:
  print("Sua nota foi:",nota,"APR")
elif nota<7.0 and nota>=5.0:
  print("Sua nota foi:",nota,": DEP")
else:
  print("Sua nota foi:",nota,"REP")

In [ ]:
count =1
while count <=5:
  print(count)
  count+=1
print("***********************************")
for n in range(2,23):
  if(n==16):
    continue #pulará o 16, break terminaria no 16
  print(n)
print("##########")
lst2=list(range(1,11))
lst=[1,"ola",False,[1,2,"cinco",True],lst2] #lista guarda varios tipos diferentes
print(lst[4])
print("##########")
#DICIONARIOS & SET"S
notas={"val1":5.5,"var2":7.5,"var3":8.5}
print(notas["val1"])#imprimindo valor da chave val1
print("val1"in notas)#verificar se existe no dic, será boolean
notas["val4"]=9.5 #incluir no dic 
print(notas.get("val4"))#pegar valor 
print("##############")
#SET 
bd={"v","t","u"}
print(len(bd))
bd.add("r")
print(bd)
print(len(bd))
#tupla ,USAM () e ñ pode alterar
tp=(1,2,35,4)
print(type(tp))

In [ ]:
import numpy as np
#matriz multiD
md=np.array([1,2,3,4])
print(md)
mdd=np.array([1.5,25.5,3.0,40.8,5.5,6.6,7.85],dtype = np.float64)
#convertendo type
mdn=mdd.astype(int)#mudando tipo
print(mdd)
print(mdn)#resultado
print("############33")
#criando matriz
zeros=np.zeros([4,3])
print(zeros)
diag=np.eye(4)
print(diag)#diag principalcom 1
print("########################")
rand=np.random.random((4,4))#valores aleat
print(rand)
print("########################")
gr=np.random.default_rng(1)#nums aleats padrao, o 1 é a semente
print(gr)
print(zeros[1][1])#printar valor especifíco
print(diag+rand)#soma de matrizs
s=rand.transpose
s1=rand.transpose
print(rand+rand)
print("###################")
print(rand)

In [ ]:
import pandas as pd
dados= pd.read_csv("Credit.csv")
dados.shape
print("############3")
print(dados.describe(),"dados") #descricao dos dados
print("##########")
dados.loc[1:4]#filtrar dados,
# 2 colchetes e virgula ,vira uma lista de vals
dados.loc[[1,3]]

In [ ]:
print("############3")
#print(dados.tail(10),"dados finais")#exibe ultimos 10 registros
#[dados["purpose"]=="radio/tv"] #selecuiona apenas as colunas iguais por comparacao
#dados.loc[dados["credit_amount"]>1800]#filtracao de dados com loc msm principio
dadosFiltrados=dados[["checking_status","duracao"]].loc[dados["credit_amount"]>18000]#aq filtra só por 2 param : duration e checking
print(dadosFiltrados)
s1=pd.Series([2,25,26,23,1,40,50])
print(s1)
a1=np.array([2,25,41,10,60,39,78,56,45,99,100])
s2=pd.Series(a1)
print(s2)
d4=dados[["purpose"]]#agr é um data frame
dados.rename(columns={"duration":"duracao"},inplace=True)
dados.drop("duracao",axis=1)#para excluir só na saída, pra ser definitinivo ,tem q ter o inplace=True
print(dados)
dados.iloc[0:3,0:5]
print(dados)
print("######################")
dados['duracao'].fillna(0)

In [ ]:
import statistics as est
d=[1,25,36,0,78,45]
x=est.mean(d)#cacular media
print(x)
#primeiros registros
print(dados.head(),"iniciais")

In [ ]:
import statistics as est 
a=1
b=11
def imprime():
  print("imprimindo!!!")
imprime()
print("#################")
def interv(i=1,f=10):
  for i in range(i,f+1):
    print(i);
x=interv(1,10)
y=interv(a,b)
print("################")
def pt(n):
  return n*n
pt(5)
x1=[a,b,pt(5)]
x2=est.mean(x1)
print(x2)
#exercicios: amplitude de uma lista / imprimir uma string na vertical com code de teste da func/ler peso int se for ate 10kg==50r$11 &20==80, >20==ñ aceita

In [ ]:
lista=[2,20,25,6,39,14,7,78,98,40,56]
x=min(lista)
y=max(lista)
amp=y-x
print(amp)
print("##############################")
palavra="vertical"
l=[]

def transposta():
  nome="vertical"
  cont = '0'
  for c in nome:
   # c = int(cont)
    print(c)
    cont += '1'
transposta()
n=int(input("informe o peso"))
def peso():
  if(n<=10):
    print("Preço:",50," R$")
  elif(n>=11 and n<=20):
    print("Preço:",80," R$")
  else:
    print("Não permitido")
peso()
print("##############################")

In [ ]:
import pandas as pd
import statistics as sts
import seaborn as srn

In [96]:
dataset=pd.read_csv("Churn.csv", sep=";")
dataset.head()

   X0   X1  X2        X3  X4  X4.1        X6  X7  X8  X9         X10  X11
0   1  619  RS  Feminino  42     2         0   1   1   1  10134888.0    1
1   2  608  SC  Feminino  41     1   8380786   1   0   1  11254258.0    0
2   3  502  RS  Feminino  42     8   1596608   3   1   0  11393157.0    1
3   4  699  RS  Feminino  39     1         0   2   0   0   9382663.0    0
4   5  850  SC  Feminino  43     2  12551082   1   1   1    790841.0    0

In [97]:
dataset.shape

(999, 12)

In [99]:
dataset.columns=["Id","Score","Estado","Genero","Idade","Saldo","Patrimonio","Produto","TemCartaoCredito","Ativo","Salario","Saiu"]
dataset.head()

,Id,Score,Estado,Genero,Idade,Saldo,Patrimonio,Produto,TemCartaoCredito,Ativo,Salario,Saiu
0,1,619,RS,Feminino,42,2,0,1,1,1,10134888.0,1
1,2,608,SC,Feminino,41,1,8380786,1,0,1,11254258.0,0
2,3,502,RS,Feminino,42,8,1596608,3,1,0,11393157.0,1
3,4,699,RS,Feminino,39,1,0,2,0,0,9382663.0,0
4,5,850,SC,Feminino,43,2,12551082,1,1,1,790841.0,0