<a href="https://colab.research.google.com/github/WandersonGustavo/Imersao_Alura/blob/main/DataScience3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#MACHINE LEARNING 11/01

In [28]:
import pandas as pd
from sklearn.model_selection import train_test_split 
from sklearn.naive_bayes import GaussianNB #ultilizar naive bayse
from sklearn.preprocessing import LabelEncoder 
from sklearn.metrics import confusion_matrix , accuracy_score
from yellowbrick.classifier import ConfusionMatrix #forma da matrix em grafico

In [29]:
credito=pd.read_csv('Credit.csv')
credito.shape

(1000, 21)

In [30]:
credito.head()

,checking_status,duration,credit_history,purpose,credit_amount,savings_status,employment,installment_commitment,personal_status,other_parties,...,property_magnitude,age,other_payment_plans,housing,existing_credits,job,num_dependents,own_telephone,foreign_worker,class
0,<0,6,'critical/other existing credit',radio/tv,1169,'no known savings',>=7,4,'male single',none,...,'real estate',67,none,own,2,skilled,1,yes,yes,good
1,0<=X<200,48,'existing paid',radio/tv,5951,<100,1<=X<4,2,'female div/dep/mar',none,...,'real estate',22,none,own,1,skilled,1,none,yes,bad
2,'no checking',12,'critical/other existing credit',education,2096,<100,4<=X<7,2,'male single',none,...,'real estate',49,none,own,1,'unskilled resident',2,none,yes,good
3,<0,42,'existing paid',furniture/equipment,7882,<100,4<=X<7,2,'male single',guarantor,...,'life insurance',45,none,'for free',1,skilled,2,none,yes,good
4,<0,24,'delayed previously','new car',4870,<100,1<=X<4,3,'male single',none,...,'no known property',53,none,'for free',2,skilled,2,none,yes,bad

In [31]:
#formato de matrix
previsores=credito.iloc[:,0:20].values #pegandos os previsores da classe
classe=credito.iloc[:,20].values #classe em registro diferente

In [32]:
#transformacao dos atrb categoricos , passando cada atrb numerico com indice para cada coluna e categoria
#coluna 1, 4 e tds os outros numericos n precisam ser passados
#cada obj tem atrb categorico,pois na sequencia vamos executar o encoding novamente para o teste
#se forem ultilizados objetos diferentes o numero de  atribuidos a cada valor podera ser diferente, q deixaria o teste innconsistente
labelEncoder1=LabelEncoder()
previsores[:,0] = labelEncoder1.fit_transform(previsores[:,0])

labelEncoder2=LabelEncoder()
previsores[:,2] = labelEncoder2.fit_transform(previsores[:,2])

labelEncoder3=LabelEncoder()
previsores[:,3] = labelEncoder3.fit_transform(previsores[:,3])

labelEncoder4=LabelEncoder()
previsores[:,5] = labelEncoder4.fit_transform(previsores[:,5])

labelEncoder5=LabelEncoder()
previsores[:,6] = labelEncoder5.fit_transform(previsores[:,6])

labelEncoder6=LabelEncoder()
previsores[:,8] = labelEncoder6.fit_transform(previsores[:,8])

labelEncoder7=LabelEncoder()
previsores[:,9] = labelEncoder7.fit_transform(previsores[:,9])

labelEncoder8=LabelEncoder()
previsores[:,11] = labelEncoder8.fit_transform(previsores[:,11])

labelEncoder9=LabelEncoder()
previsores[:,13] = labelEncoder9.fit_transform(previsores[:,13])

labelEncoder10=LabelEncoder()
previsores[:,14] = labelEncoder10.fit_transform(previsores[:,14])

labelEncoder11=LabelEncoder()
previsores[:,16] = labelEncoder11.fit_transform(previsores[:,16])

labelEncoder12=LabelEncoder()
previsores[:,18] = labelEncoder12.fit_transform(previsores[:,18])

labelEncoder13=LabelEncoder()
previsores[:,19] = labelEncoder13.fit_transform(previsores[:,19])

In [ ]:
#INCOMPLETO e com erro
#divisao da base entre treino e teste 30 teste e 70 treino
#x_treinamento, x_teste ,y_treinamento ,y_teste = train_test_split(previsores,classe, test.size=0.3,random_state=0)
#x_teste