<a href="https://colab.research.google.com/github/WandersonGustavo/Imersao_Alura/blob/main/dnit_dados2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
base=pd.read_csv('icm_-01-2023-transparencia.csv',on_bad_lines='skip',sep=";")
base

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,UF,Rodovia,km inicial,km final,Extensão (km),Data,Latitude,Longitude,Observação,ICMNP
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
3092,TO,BR-242,"501,000","502,000","1,000",16/01/2023,"-8,8440664","-48,5113975",NaN,"58,750"
3093,TO,BR-242,"502,000","503,000","1,000",16/01/2023,"-8,8440664","-48,5113975",NaN,"58,750"
3094,TO,BR-242,"503,000","504,000","1,000",16/01/2023,"-8,8440664","-48,5113975",NaN,"50,000"
3095,TO,BR-242,"504,000","505,000","1,000",16/01/2023,"-8,84417244","-48,511091",NaN,"52,500"
3096,TO,BR-242,"505,000","506,000","1,000",16/01/2023,"-8,84417035","-48,5110786",NaN,"52,500"

In [ ]:
base2=pd.read_csv('icm_12_2022.csv',on_bad_lines='skip',sep=";")
base2

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,UF,Rodovia,km inicial,km final,Extensão (km),Data,Latitude,Longitude,ICC,ICP,ICM
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
39840,AP,BR-156,"818,000","819,000","1,000",28/12/2022,"3,82531456","-51,7935602","75,000","85,000","82,000"
39841,AP,BR-156,"819,000","820,000","1,000",28/12/2022,"3,83205824","-51,8019846","75,000","75,000","75,000"
39842,AP,BR-156,"820,000","821,000","1,000",28/12/2022,"3,83662198","-51,8120698","75,000","40,000","50,500"
39843,AP,BR-156,"821,000","822,000","1,000",28/12/2022,"3,83734363","-51,8140665","75,000","90,000","85,500"
39844,AP,BR-156,"822,000","823,000","1,000",28/12/2022,"3,85140999","-51,8232939","75,000","90,000","85,500"