<a href="https://colab.research.google.com/github/WandersonGustavo/Imersao_Alura/blob/main/dnit_dados2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [41]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import statistics  as sts
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_log_error
from sklearn.metrics import mean_squared_error
from sklearn.preprocessing import LabelEncoder

In [2]:
base=pd.read_csv('icm_-01-2023-transparencia.csv',on_bad_lines='skip',sep=";")

In [3]:
base.columns=['UF','Rodovia','km inicial','km final','Extensão (km)','Data','Latitude','Longitude','Observação','ICMNP']

In [4]:
base2=pd.read_csv('icm_12_2022.csv',on_bad_lines='skip',sep=";")

In [5]:
base2.columns=['UF','Rodovia','km inicial','km final','Extensão (km)','Data','Latitude','Longitude','ICC','ICP','ICM']

In [6]:
#AGUPAR E EXIBIR DADOS DA BAHIA
dadosBahia22=base2.groupby(['UF'])
dadosBahia22
dadosBahia22.get_group('BA')
lat22BA=dadosBahia22.head(31)

In [7]:
dadosBahia23=base.groupby(['UF'])
dadosBahia23=dadosBahia23.get_group('BA')
dadosBahia23.describe()

,UF,Rodovia,km inicial,km final,Extensão (km),Data,Latitude,Longitude,Observação,ICMNP
count,31,31,31,31,31,31,31,31,0,31
unique,1,1,31,31,6,1,8,8,0,19
top,BA,BR-135,"205,800","206,000","1,000",24/01/2023,"-12,3693466","-44,97331",NaN,"76,250"
freq,31,31,1,1,24,31,22,22,NaN,6

In [8]:
#latitude dos trechos baianos
longitude=base.groupby(['Longitude'])
lon23BA=dadosBahia23
lon23BA.Longitude.head(31)
lon23BA.describe

<bound method NDFrame.describe of       UF Rodovia km inicial km final Extensão (km)        Data     Latitude  \
1383  BA  BR-135    205,800  206,000         0,200  24/01/2023  -12,3564116
1384  BA  BR-135    206,000  207,000         1,000  24/01/2023  -12,3693466
1385  BA  BR-135    207,000  208,000         1,000  24/01/2023  -12,3693466
1386  BA  BR-135    208,000  209,000         1,000  24/01/2023  -12,3693466
1387  BA  BR-135    209,000  210,000         1,000  24/01/2023  -12,3693466
1388  BA  BR-135    210,000  211,000         1,000  24/01/2023  -12,3693466
1389  BA  BR-135    211,000  212,000         1,000  24/01/2023  -12,3693466
1390  BA  BR-135    212,000  213,000         1,000  24/01/2023  -12,3693466
1391  BA  BR-135    213,000  214,000         1,000  24/01/2023  -12,3693466
1392  BA  BR-135    214,000  215,000         1,000  24/01/2023  -12,3693466
1393  BA  BR-135    215,000  216,000         1,000  24/01/2023  -12,3693466
1394  BA  BR-135    216,000  217,000         1,000  24/01/2023  -12,3693466
1395  BA  BR-135    217,000  218,000         1,000  24/01/2023  -12,3693466
1396  BA  BR-135    218,000  219,000         1,000  24/01/2023  -12,3693466
1397  BA  BR-135    219,000  220,000         1,000  24/01/2023  -12,3693466
1398  BA  BR-135    220,000  221,000         1,000  24/01/2023  -12,3693466
1399  BA  BR-135    221,000  222,000         1,000  24/01/2023  -12,3693466
1400  BA  BR-135    222,000  223,000         1,000  24/01/2023  -12,3693466
1401  BA  BR-135    223,000  224,000         1,000  24/01/2023  -12,3693466
1402  BA  BR-135    224,000  225,000         1,000  24/01/2023  -12,3693466
1403  BA  BR-135    225,000  226,000         1,000  24/01/2023  -12,3693466
1404  BA  BR-135    226,000  227,000         1,000  24/01/2023  -12,3693466
1405  BA  BR-135    227,000  228,000         1,000  24/01/2023  -12,3693466
1406  BA  BR-135    306,500  307,000         0,500  24/01/2023  -13,0440416
1407  BA  BR-135    307,000  307,100         0,100  24/01/2023  -13,0459504
1408  BA  BR-135    319,800  320,000         0,200  24/01/2023  -13,1542816
1409  BA  BR-135    320,000  321,000         1,000  24/01/2023  -13,1573666
1410  BA  BR-135    321,000  321,200         0,200  24/01/2023  -13,1573666
1411  BA  BR-135    323,400  324,000         0,600  24/01/2023   -13,165705
1412  BA  BR-135    324,000  325,000         1,000  24/01/2023  -13,1830766
1413  BA  BR-135    325,000  325,300         0,300  24/01/2023  -13,1830766

        Longitude Observação   ICMNP
1383  -44,9800283        NaN  30,000
1384    -44,97331        NaN  35,000
1385    -44,97331        NaN  53,750
1386    -44,97331        NaN  47,500
1387    -44,97331        NaN  50,000
1388    -44,97331        NaN  53,750
1389    -44,97331        NaN  65,000
1390    -44,97331        NaN  76,250
1391    -44,97331        NaN  61,250
1392    -44,97331        NaN  76,250
1393    -44,97331        NaN  68,750
1394    -44,97331        NaN  71,250
1395    -44,97331        NaN  76,250
1396    -44,97331        NaN  68,750
1397    -44,97331        NaN  83,750
1398    -44,97331        NaN  72,500
1399    -44,97331        NaN  76,250
1400    -44,97331        NaN  73,750
1401    -44,97331        NaN  83,750
1402    -44,97331        NaN  72,500
1403    -44,97331        NaN  76,250
1404    -44,97331        NaN  66,250
1405    -44,97331        NaN  76,250
1406   -44,621948        NaN   0,000
1407  -44,6228495        NaN   0,000
1408  -44,6166333        NaN   3,750
1409  -44,6161683        NaN   3,750
1410  -44,6161683        NaN   3,750
1411  -44,6122983        NaN  52,500
1412   -44,617495        NaN  20,000
1413   -44,617495        NaN  17,500  >

In [9]:

icmnp=base.groupby(['ICMNP'])
i23BA=dadosBahia23
#lat23BA.Latitude.head(31)
i23BA.describe

<bound method NDFrame.describe of       UF Rodovia km inicial km final Extensão (km)        Data     Latitude  \
1383  BA  BR-135    205,800  206,000         0,200  24/01/2023  -12,3564116
1384  BA  BR-135    206,000  207,000         1,000  24/01/2023  -12,3693466
1385  BA  BR-135    207,000  208,000         1,000  24/01/2023  -12,3693466
1386  BA  BR-135    208,000  209,000         1,000  24/01/2023  -12,3693466
1387  BA  BR-135    209,000  210,000         1,000  24/01/2023  -12,3693466
1388  BA  BR-135    210,000  211,000         1,000  24/01/2023  -12,3693466
1389  BA  BR-135    211,000  212,000         1,000  24/01/2023  -12,3693466
1390  BA  BR-135    212,000  213,000         1,000  24/01/2023  -12,3693466
1391  BA  BR-135    213,000  214,000         1,000  24/01/2023  -12,3693466
1392  BA  BR-135    214,000  215,000         1,000  24/01/2023  -12,3693466
1393  BA  BR-135    215,000  216,000         1,000  24/01/2023  -12,3693466
1394  BA  BR-135    216,000  217,000         1,000  24/01/2023  -12,3693466
1395  BA  BR-135    217,000  218,000         1,000  24/01/2023  -12,3693466
1396  BA  BR-135    218,000  219,000         1,000  24/01/2023  -12,3693466
1397  BA  BR-135    219,000  220,000         1,000  24/01/2023  -12,3693466
1398  BA  BR-135    220,000  221,000         1,000  24/01/2023  -12,3693466
1399  BA  BR-135    221,000  222,000         1,000  24/01/2023  -12,3693466
1400  BA  BR-135    222,000  223,000         1,000  24/01/2023  -12,3693466
1401  BA  BR-135    223,000  224,000         1,000  24/01/2023  -12,3693466
1402  BA  BR-135    224,000  225,000         1,000  24/01/2023  -12,3693466
1403  BA  BR-135    225,000  226,000         1,000  24/01/2023  -12,3693466
1404  BA  BR-135    226,000  227,000         1,000  24/01/2023  -12,3693466
1405  BA  BR-135    227,000  228,000         1,000  24/01/2023  -12,3693466
1406  BA  BR-135    306,500  307,000         0,500  24/01/2023  -13,0440416
1407  BA  BR-135    307,000  307,100         0,100  24/01/2023  -13,0459504
1408  BA  BR-135    319,800  320,000         0,200  24/01/2023  -13,1542816
1409  BA  BR-135    320,000  321,000         1,000  24/01/2023  -13,1573666
1410  BA  BR-135    321,000  321,200         0,200  24/01/2023  -13,1573666
1411  BA  BR-135    323,400  324,000         0,600  24/01/2023   -13,165705
1412  BA  BR-135    324,000  325,000         1,000  24/01/2023  -13,1830766
1413  BA  BR-135    325,000  325,300         0,300  24/01/2023  -13,1830766

        Longitude Observação   ICMNP
1383  -44,9800283        NaN  30,000
1384    -44,97331        NaN  35,000
1385    -44,97331        NaN  53,750
1386    -44,97331        NaN  47,500
1387    -44,97331        NaN  50,000
1388    -44,97331        NaN  53,750
1389    -44,97331        NaN  65,000
1390    -44,97331        NaN  76,250
1391    -44,97331        NaN  61,250
1392    -44,97331        NaN  76,250
1393    -44,97331        NaN  68,750
1394    -44,97331        NaN  71,250
1395    -44,97331        NaN  76,250
1396    -44,97331        NaN  68,750
1397    -44,97331        NaN  83,750
1398    -44,97331        NaN  72,500
1399    -44,97331        NaN  76,250
1400    -44,97331        NaN  73,750
1401    -44,97331        NaN  83,750
1402    -44,97331        NaN  72,500
1403    -44,97331        NaN  76,250
1404    -44,97331        NaN  66,250
1405    -44,97331        NaN  76,250
1406   -44,621948        NaN   0,000
1407  -44,6228495        NaN   0,000
1408  -44,6166333        NaN   3,750
1409  -44,6161683        NaN   3,750
1410  -44,6161683        NaN   3,750
1411  -44,6122983        NaN  52,500
1412   -44,617495        NaN  20,000
1413   -44,617495        NaN  17,500  >

In [10]:
dadosBahia22=base2.groupby(['UF'])
dadosBahia22=lat22BA
dadosBahia22.describe()

,UF,Rodovia,km inicial,km final,Extensão (km),Data,Latitude,Longitude,ICC,ICP,ICM
count,714,714,714,714,714,714,714,714,714,714,714
unique,24,24,404,392,17,16,238,236,20,32,117
top,MS,BR-101,"2,000","1,000","1,000",06/12/2022,0,0,"25,000","0,000","7,500"
freq,31,93,11,11,679,124,75,75,229,201,62

In [11]:
icm=base2.groupby(['ICM'])
icm22BA=dadosBahia22.describe()
#icm22BA.ICM.head(31)

In [39]:
base2['ICM'].isnull().sum()

5

In [45]:
base2['ICM'].fillna(0,inplace=True)
base2['ICM'].isnull().sum()

0

In [ ]:
#
a="12,5"
b=a.replace(",",".")
b1=float(b)
b1

In [52]:

base2['ICM']=base2['ICM'].apply(lambda x: str(x).replace(",",".") )
#base2['ICM'].astype('Float64')
base2['ICM']
base2['ICM'].astype('float64')

0             0
1             0
2             0
3           ICM
4             0
          ...
39840    82.000
39841    75.000
39842    50.500
39843    85.500
39844    85.500
Name: ICM, Length: 39845, dtype: object

In [53]:
base2['ICM'].astype('float64')

ValueError: ignored

In [20]:
#TRANSFORMAÇÃO DOS DADOS DE STRING PRA FLOAT AGR PODE CORRELACIONAR
#i23BA['ICMNP']=i23BA['ICMNP'].apply(lambda x: str(x).replace(",",".") )
#i23BA=i23BA['ICMNP'].replace(",",".")
i23BA.astype('Float64')

1383     30.0
1384     35.0
1385    53.75
1386     47.5
1387     50.0
1388    53.75
1389     65.0
1390    76.25
1391    61.25
1392    76.25
1393    68.75
1394    71.25
1395    76.25
1396    68.75
1397    83.75
1398     72.5
1399    76.25
1400    73.75
1401    83.75
1402     72.5
1403    76.25
1404    66.25
1405    76.25
1406      0.0
1407      0.0
1408     3.75
1409     3.75
1410     3.75
1411     52.5
1412     20.0
1413     17.5
Name: ICMNP, dtype: Float64

In [ ]:
#******************************************''DADOS DE 2022 ABAIXO''***********************************************************************
#lon23BA['Longitude']=lon23BA['Longitude'].apply(lambda x: str(x).replace(",",".") )
#lon23BA['Longitude']=lon23BA['Longitude'].astype('float64')

In [ ]:
lon23BA['Longitude'].astype('float64')

1383   -44.980028
1384   -44.973310
1385   -44.973310
1386   -44.973310
1387   -44.973310
1388   -44.973310
1389   -44.973310
1390   -44.973310
1391   -44.973310
1392   -44.973310
1393   -44.973310
1394   -44.973310
1395   -44.973310
1396   -44.973310
1397   -44.973310
1398   -44.973310
1399   -44.973310
1400   -44.973310
1401   -44.973310
1402   -44.973310
1403   -44.973310
1404   -44.973310
1405   -44.973310
1406   -44.621948
1407   -44.622850
1408   -44.616633
1409   -44.616168
1410   -44.616168
1411   -44.612298
1412   -44.617495
1413   -44.617495
Name: Longitude, dtype: float64

In [ ]:
pergunta=lon23BA.iloc[:,7].values
resposta=indice23.iloc[:,9].values

In [ ]:
np.corrcoef(pergunta,resposta)