<a href="https://colab.research.google.com/github/WandersonGustavo/Imersao_Alura/blob/main/dnit_dados2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_log_error
from sklearn.metrics import mean_squared_error
from sklearn.preprocessing import LabelEncoder

In [ ]:
base=pd.read_csv('icm_-01-2023-transparencia.csv',on_bad_lines='skip',sep=";")

In [ ]:
base.columns=['UF','Rodovia','km inicial','km final','Extensão (km)','Data','Latitude','Longitude','Observação','ICMNP']

In [ ]:
base2=pd.read_csv('icm_12_2022.csv',on_bad_lines='skip',sep=";")

In [ ]:
base2.columns=['UF','Rodovia','km inicial','km final','Extensão (km)','Data','Latitude','Longitude','ICC','ICP','ICM']

In [ ]:
#AGUPAR E EXIBIR DADOS DA BAHIA
dadosBahia22=base2.groupby(['UF'])
dadosBahia22
dadosBahia22.get_group('BA')

In [ ]:
#localizacao por coord e icm como desfecho
 #mes&ano combinados

In [ ]:
dadosBahia23=base.groupby(['UF'])
dadosBahia23=dadosBahia23.get_group('BA')
dadosBahia23.describe()

,UF,Rodovia,km inicial,km final,Extensão (km),Data,Latitude,Longitude,Observação,ICMNP
count,31,31,31,31,31,31,31,31,0,31
unique,1,1,31,31,6,1,8,8,0,19
top,BA,BR-135,"205,800","206,000","1,000",24/01/2023,"-12,3693466","-44,97331",NaN,"76,250"
freq,31,31,1,1,24,31,22,22,NaN,6

In [ ]:
#latitude dos trechos baianos
latitude=base.groupby(['Latitude'])
lat23BA=dadosBahia23
lat23BA.Latitude.head(31)
lat23BA.describe

In [ ]:
#longitude dos trechos baianos
latitude22=base2.groupby(['Latitude'])
lat22BA=dadosBahia22.get_group('BA')
lat22BA.Latitude.head(31)
lat22BA.describe

<bound method NDFrame.describe of        UF Rodovia km inicial km final Extensão (km)        Data     Latitude  \
9511   BA  BR-242    538,500  539,000         0,500  08/12/2022   -12,195745
9512   BA  BR-242    539,000  540,000         1,000  08/12/2022  -12,2463916
9513   BA  BR-242    540,000  541,000         1,000  08/12/2022  -12,2463916
9514   BA  BR-242    541,000  542,000         1,000  08/12/2022  -12,2463916
9515   BA  BR-242    542,000  543,000         1,000  08/12/2022  -12,2463916
...    ..     ...        ...      ...           ...         ...          ...
39526  BA  BR-110    400,000  401,000         1,000  19/12/2022  -12,5485947
39527  BA  BR-110    401,000  402,000         1,000  19/12/2022  -12,5548502
39528  BA  BR-110    402,000  403,000         1,000  19/12/2022  -12,5615527
39529  BA  BR-110    403,000  404,000         1,000  19/12/2022  -12,5665576
39530  BA  BR-110    404,000  404,600         0,600  19/12/2022   -12,572787

         Longitude     ICC     ICP     ICM
9511     -43,70278  65,000  20,000  33,500
9512   -42,7666333  40,000   5,000  15,500
9513   -42,7666333  40,000   5,000  15,500
9514   -42,7666333  40,000   7,500  17,250
9515   -42,7666333  40,000  40,000  40,000
...            ...     ...     ...     ...
39526   -38,515748  80,000  62,500  67,750
39527  -38,5212984  90,000  40,000  55,000
39528  -38,5266557  80,000  75,000  76,500
39529  -38,5334718  80,000  62,500  67,750
39530   -38,538162  90,000  75,000  79,500

[4133 rows x 11 columns]>

In [ ]:
#indicebase2=base2.groupby(['ICM'])
indice22=base2.groupby(['ICM'])
dadosBahia22=lat23BA
valor_x=dadosBahia22

In [ ]:
indice23=base.groupby(['ICMNP'])
dadosBahia23=lat23BA
valor_y=dadosBahia23

In [ ]:
valor_x=labelUF
valor_y=labelUF2
valor_y=valor_y.reshape(-1,1)
valor_x=valor_x.reshape(-1,1)

In [ ]:
valor_xx=base2.iloc[:, 10].values
valor_yy=base2.iloc[:, 10].values

In [ ]:
modelo=LinearRegression()
#modelo.fit(valor_xx,valor_yy)

In [ ]:
error = latitude10valores22 - latitude10valores23
squared_error = error**2

In [ ]:
rmse = np.sqrt(mean_squared_error(,))
print("RMSE:", rmse)

In [ ]:
rmsle = np.sqrt(mean_squared_log_error(lat22BA,lat23BA))
print("RMSLE:", rmsle)

In [ ]:
indice22=base2.groupby(['ICM'])
dadosBahia22=lat23BA
valor_x=dadosBahia22